extends layout

block content
  .col-xs-12
  .box
    .box-header
      h3.box-title Dados do banco de dados
    // /.box-header
    .box-body
      #example2_wrapper.dataTables_wrapper.form-inline.dt-bootstrap
        .row
          .col-sm-6
          .col-sm-6
        .row
          .col-sm-12
            table#example2.table.table-bordered.table-hover.dataTable(role='grid', aria-describedby='example2_info')
              thead
                tr(role='row')
                  th.sorting_asc(tabindex='0', aria-controls='example2', rowspan='1', colspan='1', aria-sort='ascending', aria-label='Rendering engine: activate to sort column descending') Rendering engine
                  th.sorting(tabindex='0', aria-controls='example2', rowspan='1', colspan='1', aria-label='Browser: activate to sort column ascending') Browser
                  th.sorting(tabindex='0', aria-controls='example2', rowspan='1', colspan='1', aria-label='Platform(s): activate to sort column ascending') Platform(s)
                  th.sorting(tabindex='0', aria-controls='example2', rowspan='1', colspan='1', aria-label='Engine version: activate to sort column ascending') Engine version
                  th.sorting(tabindex='0', aria-controls='example2', rowspan='1', colspan='1', aria-label='CSS grade: activate to sort column ascending') CSS grade
              tbody
                - for (var x = 1; x<5; x++)
                  tr.odd(role='row')
                    td.sorting_1= 'NOME'+ x
                    td= 'Firefox' + x
                    td= 'Win 98+ / OSX.'+ x
                    td= x + '.7'
                    td= 'A'+x
              tfoot
                tr
                  th(rowspan='1', colspan='1') Rendering engine
                  th(rowspan='1', colspan='1') Browser
                  th(rowspan='1', colspan='1') Platform(s)
                  th(rowspan='1', colspan='1') Engine version
                  th(rowspan='1', colspan='1') CSS grade
        .row
          .col-sm-5
            #example2_info.dataTables_info(role='status', aria-live='polite') Showing 1 to 10 of 57 entries
          .col-sm-7
            #example2_paginate.dataTables_paginate.paging_simple_numbers
              ul.pagination
                li#example2_previous.paginate_button.previous.disabled
                  a(href='#', aria-controls='example2', data-dt-idx='0', tabindex='0') Previous
                li.paginate_button.active
                  a(href='#', aria-controls='example2', data-dt-idx='1', tabindex='0') 1
                li.paginate_button
                  a(href='#', aria-controls='example2', data-dt-idx='2', tabindex='0') 2
                li.paginate_button
                  a(href='#', aria-controls='example2', data-dt-idx='3', tabindex='0') 3
                li.paginate_button
                  a(href='#', aria-controls='example2', data-dt-idx='4', tabindex='0') 4
                li.paginate_button
                  a(href='#', aria-controls='example2', data-dt-idx='5', tabindex='0') 5
                li.paginate_button
                  a(href='#', aria-controls='example2', data-dt-idx='6', tabindex='0') 6
                li#example2_next.paginate_button.next
                  a(href='#', aria-controls='example2', data-dt-idx='7', tabindex='0') Next
    // /.box-body
  // /.box
  